@font-face { font-family: Kenyan; src: url("../fonts/kenyancoffeerg.ttf"); } 

.main {
    display: flex;
    flex-direction: column;
    height: 700px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, var(--oxfordblue) 30%, var(--superdarkjunglegreen) 100%);
}

.reuniao {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../img/predioarc.png"), url("../img/estrela1.png");
    background-size: 740px, 230px;
    background-position: 90px 150px, 60px 50px;
    background-repeat: no-repeat;
}

.reuniao__foto {
    height: 590px;
    margin: 0 -620px -100px 0;
    background-image: url("../img/estrela2.png");
    background-size: 200px;
    background-position: 280px 200px;
    background-repeat: no-repeat;
}

.reuniao__butao {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Kenyan';
    font-size: 45px;
    font-weight: 300;
    width: 780px;
    height: 100px;
    cursor: pointer;
    text-decoration: none;
    color: var(--superdarkjunglegreen);
    text-transform: uppercase;
    background-color: var(--mustardyellow);
    border-radius: 23px;
    background-image: url("../img/calendar-regular.svg");
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: 93% 45%;
}

.reuniao__butao:hover {
    box-shadow: 1px -1px 20px 5px white;
    transition: box-shadow 1s;
}

.reuniao__whats {
    position: fixed;
    right: 30px;
    bottom: 90px;
    font-family: 'Canter';
    font-size: 29px;
    font-weight: 700;
    width: 180px;
    height: 55px;
    text-transform: uppercase;
    background-color: var(--crayola);
    border-radius: 40px;
    text-decoration: none;
    align-items: center;
    display: flex;
    color: var(--superdarkjunglegreen);
}

.reuniao__whats:hover {
    background-color: var(--mustardyellow);
    transition: background-color 0.5s;
}

.reuniao__whats i {
    margin-left: 33px;
    margin-right: 8px;
}

.reuniao__whats p {
    margin-top: 24.2px;
}

.reuniao__whats::before {
    content: url("../img/AlexBotao.png");
    position: fixed;
    right: 30px;
    bottom: 141px;    
}

@media only screen and (max-width: 1100px) {
    .main {
        height: 600px;
    }

    .reuniao {
        width: 95%;
        background-size: 540px, 170px;
        background-position: 0px 150px, 0px 50px;
    }

    .reuniao__foto {
        height: 500px;
        margin: 0 -310px -100px 0;
        background-size: 160px;
        background-position: 240px 150px;
    }
    
    .reuniao__butao {
        width: 650px;
    }

    .reuniao__whats {
        width: 70px;
        height: 70px;
        border: 5px solid var(--crayolaLight);
        background-color: var(--crayola);
    }

    .reuniao__whats:hover {
        border: 5px solid var(--white);
        transition: border 1s;
    }

    .reuniao__whats i {
        margin-left: 19px;
        font-size: 40px;
    }
    
    .reuniao__whats::before {
        content: none;   
    }

    .reuniao__whats p {
        display: none;
    }
}

@media only screen and (max-width: 720px) {
    .main {
        height: 450px;
    }

    .reuniao {
        width: 100%;
        background-size: 75%, 20%;
        background-position: 0px 120px, 0px 50px;
    }

    .reuniao__foto {
        height: 400px;
        margin: 0 -35vw -100px 0;
        background-size: 100px;
        background-position: 226px 150px;
    }
    
    .reuniao__butao {
        width: 450px;
    }

    .reuniao__whats {
        right: 10px;
        bottom: 20px;
    }
}

@media only screen and (max-width: 510px) {
    .main {
        height: 350px;
    }

    .reuniao__foto {
        height: 320px;
        margin: 0 -150px -100px 0;
        background-size: 80px;
        background-position: 170px 130px;
    }
    
    .reuniao__butao {
        width: 300px;
        font-size: 30px;
        background-size: 24px;
        background-position: 93% 48%;
        height: 80px;
    }
}

@media only screen and (max-width: 430px) {
    .reuniao__foto {
        height: 290px;
        margin: 0 -100px -50px 0;
        background-position: 155px 110px;
    }
    
    .reuniao__butao {
        width: 280px;
        height: 70px;
    }

    .reuniao__whats {
        width: 63px;
        height: 63px;
        z-index: 1;
    }

    .reuniao__whats i {
        margin-left: 17px;
        font-size: 35px;
    }
}

@media only screen and (max-width: 340px) {
    .reuniao__foto {
        margin: 0 -75px -50px 0;
    }
}

@media only screen and (ma) {
    
}