.servicos {
    background-color: var(--superdarkjunglegreen);
    display: flex;
    justify-content: center;
    align-items: center;
}

.servicos_limite {
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.servicos__caixa {
    background-size: 170px;
    background-repeat: no-repeat;
    background-position: center 70px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 260px;
    width: 260px;
    background-color: var(--charcoal);
    border-radius: 30px;
    margin: 0 0 18px 18px;
}

.servicos__caixa:nth-child(1) {
    background-image: url("../img/servicos1.png");
}

.servicos__caixa:nth-child(2) {
    background-image: url("../img/servicos2.png");
}

.servicos__caixa:nth-child(3) {
    background-image: url("../img/servicos3.png");
}

.servicos__caixa:nth-child(4) {
    background-image: url("../img/servicos4.png");
    background-position: center 30px;
}

.servicos__caixa:nth-child(5) {
    background-image: url("../img/servicos5.png");
}

.servicos__caixa:hover {
    background-color: var(--crayola);
    cursor: default;
    background-image: none;
    transition: all 2s;
}

.servicos__caixa p {
    color: var(--superdarkjunglegreen);
    text-align: center;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 700;
    font-family: 'Canter';
    margin: 6px 0;
}

.servicos__titulo--hover {
    font-family: 'Kenyan';
    color: var(--superdarkjunglegreen);
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 20px;
}

.servicos__titulo {
    font-family: 'Kenyan';
    color: var(--white);
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: normal;
}

.texto__1, .texto__2 {
    position: relative;
    top: 60px;
    width: 120px;
}

.texto__3 {
    position: relative;
    top: 55px;
}

.texto__4 {
    position: relative;
    top: 60px;
    font-size: 27.3px;
}

.texto__5 {
    position: relative;
    top: 60px;
    width: 140px;
}

@media only screen and (max-width: 510px) {
    .servicos__caixa {
        background-size: 170px;
        background-position: center 45px;
        padding: 40px;
        height: 180px;
        width: 180px;
        background-color: var(--charcoal);
        border-radius: 30px;
        margin: 0 0 18px;
    }

    .servicos__titulo--hover {
        font-size: 0;
        margin: 0;
    }

    .servicos__caixa p {
        font-size: 19px;
    }  
}