.entrevistas {
    background-color: var(--superdarkjunglegreen);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.entrevistas__titulo {
    height: 150px;
    width: 288px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Kenyan';
    font-size: 40px;
    color: var(--white);
    background-image: url("../img/estrela3.png");
    background-size: 150px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    position: relative;
    left: -395px;
}

.entrevistas__wrapper {
    width: calc(16*3.6vw);
    height: calc(9*3.6vw);
    max-width: calc(16*60px);
    max-height: calc(9*60px);
    border: 5px solid var(--charcoal);
    border-radius: 20px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 1100px) {
    .entrevistas__titulo {
        left: -145px;
    }
}

@media only screen and (max-width: 570px) {
    .entrevistas__titulo {
        left: -92px;
        width: 165px;
        font-size: 34px;
        background-size: 110px;
        background-position: 0 20px;
        justify-content: right;
    }
}