@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.footer {
    display: flex;
    align-items: center;
    background-color: var(--crayola);
    justify-content: space-between;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-media__item {
    font-size: 40px;
    margin-right: 22px;
    color: var(--superdarkjunglegreen);
    text-decoration: none;
    border: 6px solid var(--policeblue);
    border-radius: 20px;
    padding: 5px 11px;
}

.email {
    font-family: 'Poppins';
    margin-left: 20px;
    font-size: 20px;
    text-decoration: none;
    color: var(--superdarkjunglegreen);
}

@media only screen and (max-width: 900px) {
    .footer {
        flex-direction: column;
        z-index: 2;
    }

    .social-media__item {
        margin-top: 10px;
    }

    .social-media__item:last-child {
        margin-right: 0;
    }

    .social-media p {
        margin: 30px 15px;
    }

    .email {
        margin-left: 0;
    }    
}

@media only screen and (max-width: 510px) {
    .social-media:last-child {
        flex-direction: column;
    }

    .social-media p {
        display: none;
    }

    .email {
        font-size: 18px;
        margin-top: 20px;
    }
}