:root {
    --darkjunglegreen: #0B1729;
    --crayola: #a3b9be;
    --crayolaLight: rgb(118, 135, 143);
    --superdarkjunglegreen: #1C1F24;
    --policeblue: #354f6e;
    --white: #ffffff;
    --oxfordblue: #04244A;
    --mustardyellow: #E3A700;
    --charcoal: #30425c;
}