@font-face { font-family: Kenyan; src: url(../fonts/kenyancoffeerg.ttf); } 

.main {
    display: flex;
    flex-direction: column;
    height: 77vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, var(--oxfordblue) 30%, var(--superdarkjunglegreen) 100%);
}

.reuniao {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/predioarc.png), url(/assets/img/estrela1.png);
    background-size: 740px, 260px;
    background-position: 160px 170px, 80px 50px;
    background-repeat: no-repeat;
}

.reuniao__foto {
    height: 590px;
    margin: 0 -430px -100px 0;
    background-image: url(../img/estrela2.png);
    background-size: 200px;
    background-position: 410px 200px;
    background-repeat: no-repeat;
}

.reuniao__butao {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Kenyan';
    font-size: 45px;
    font-weight: 300;
    width: 780px;
    height: 100px;
    cursor: pointer;
    text-decoration: none;
    color: var(--superdarkjunglegreen);
    text-transform: uppercase;
    background-color: var(--mustardyellow);
    border-radius: 23px;
    background-image: url(../img/calendar-regular.svg);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: 93% 45%;
}

.reuniao__whats {
    position: fixed;
    right: 55px;
    bottom: 90px;
    font-family: 'Kenyan';
    font-size: 25px;
    font-weight: 300;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    background-color: var(--crayola);
    border-radius: 40px;
    text-decoration: none;
    align-items: center;
    display: flex;
    color: var(--superdarkjunglegreen);
}

.reuniao__whats i {
    margin-left: 40px;
    margin-right: 10px;
}

.reuniao__whats::before {
    content: url(../../AlexBotao.png);
    position: fixed;
    right: 60px;
    bottom: 155px;    
}
