.sobre {
    background-color: var(--superdarkjunglegreen);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre__limite {
    width: 1150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/arc_neon.png"), url("../img/estrela3.png"), url("../img/estrela3.png");
    background-size: 250px, 150px, 250px;
    background-position: 30px 33px, 190px 570px, 850px -10px;
    background-repeat: no-repeat;
}

.sobre__texto {
    width: 740px;
    text-align: left;
    color: var(--white);
    display: flex;
    flex-direction: column;
    position: relative;
    left: 100px;
}

.sobre__texto h2 {
    padding-top: 40px;
    font-family: 'Kenyan';
    font-size: 40px;
    margin-bottom: 15px;
}

.sobre__texto p {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 100;
}